# The ! character is not supported in .gitattributes so we have to include all the files or directories here to exclude from composer archive
# If a file or directory is not excluded using the export-ignore attribute, it will be included in the archive by default.

# directories to exclude
.claude export-ignore
.devcontainer export-ignore
.github export-ignore
.husky export-ignore
reports export-ignore
tests export-ignore
docs export-ignore
build export-ignore

# files to exclude
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.prettierignore export-ignore
.prettierrc export-ignore
.releaserc.json export-ignore
CLAUDE.md export-ignore
codecov.yml export-ignore
package.json export-ignore
pnpm-lock.yaml export-ignore
pnpm-workspace.yaml export-ignore
*.sh export-ignore

# fix language issue in github repo
*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
*.xml linguist-detectable=false
*.php linguist-detectable=true
