/tests/logs/*.txt
/tests/logs/*.log
basic-test.php
vendor
reports
node_modules
build/api-cache
.phpunit.result.cache
php-sdk.phar
php-sdk.phar.gz
phpDocumentor.phar
phpdoc.phar
reports/**/*
# do not remove the following line
# it blocks env.sh from being committed
# which contains sensitive data 
# (used for setting secrets for local testing)
env.sh

# uml diagram related
plantuml.jar
uml.puml

# Ignore everything in docs
docs/**

# Except the uml_diagram directory
!docs/uml_diagram/
!docs/uml_diagram/**/*