parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    #phpVersion: 80100
    #treatPhpDocTypesAsCertain: false
    fileExtensions:
        - php
        - module
        - inc
    paths:
        - ../../src
        - ../../tests
includes:
   	- phar://phpstan.phar/conf/bleedingEdge.neon
