parameters:
    reportUnmatchedIgnoredErrors: false
    level: 8
    fileExtensions:
        - php
        - module
        - inc
    paths:
        - ../../src
        - ../../tests
    ignoreErrors:
        - "#^Strict comparison using === between CurlHandle and false will always evaluate to false.$#"
