services:
  phpsdk:
    container_name: dstack-phpsdk
    stdin_open: true
    tty: true
    volumes:
      - ..:/usr/share/rtldev-middleware-php-sdk:cached
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PHP_VERSION: 8.1
